.standings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  .standings-title {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    border: 1px solid $color-1;
  }

  .team-line {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    border: 1px solid $color-1;
    border-top: 0px;

    .team-line-img-name {
      display: grid;
      justify-items: center;

      img {
        width: 35px;
        height: auto;
      }
    }
  }
}
